@using FileFlows.Client.Helpers
@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="Savings" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="@lblMonth" Value="0" />
            <WidgetOption Label="@lblAll" Value="1" />
        </OptionButtons>
    </Head>
    <Body>
    <CircularChart Percent="@TotalPercent" Title="@TotalSavings" />
    <div class="libraries">
        @foreach (var library in Data.OrderByDescending(x => x.OriginalSize - x.FinalSize))
        {
            long bytesSaved = library.OriginalSize - library.FinalSize;
            var savings = (bytesSaved < 0 ? "-" : "")+ FileSizeFormatter.FormatSize(Math.Abs(bytesSaved), 1);
            var percent = bytesSaved < 1 ? "0" : $"{bytesSaved * 100f / library.OriginalSize}%";
            <div class="library">
                <span class="name">@library.Library</span>
                <span class="savings">@savings</span>
                <div class="bar">
                    <div class="inner" style="width:@percent" />
                </div>
            </div>
        }
    </div>
    </Body>
</ContainerWidget>