@inherits ListPage<Guid, ReportUiModel>

@namespace FileFlows.Client.Pages

<FlowTable @ref="Table" Data="@Data" TItem="ReportUiModel" Selection="SelectionMode.Single"
           TableIdentifier="Reports" DoubleClick="Launch" >
    <ToolBar>
        <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-running" Label="Labels.Run" />
    </ToolBar>

    <Columns>
        <FlowTableColumn TItem="ReportUiModel" NoHeight="true">
            <Header>
                @Globals.lblName
            </Header>
            <Cell Context="item">
                <div class="table-item">
                    <TableItemIcon Icon="@item.Icon" DefaultIcon="fas fa-chart-pie" />
                    <div class="center">
                        <span class="name"><span class="name-actual">@item.Name</span></span>
                        <span class="description"><span>@item.Description</span></span>
                    </div>
                    <div class="right">
                    </div>
                </div>

            </Cell>
        </FlowTableColumn>
    </Columns>
</FlowTable>