@namespace FileFlows.Client.Pages

@page "/initial-config"
@using Humanizer

@layout EmptyLayout

@if (loaded == false)
{
    <div class="loading-background"></div>
}
else
{
    <div class="initial-config">
        <FlowWizard @ref="Wizard" FinishDisabled="@(EulaAccepted == false)" OnFinish="@Save">
            <FlowWizardPage Title="@lblWelcome" Description="@lblWelcomeDescription">

                <InputDropDown @bind-Value="SelectedLanguage" Options="LanguageOptions" />
                
                @if (onlyEula == false)
                {
                    <div class="pre-text">@lblWelcomeMessage</div>
                }
                else
                {
                    <div class="pre-text">@lblWelcomeMessageUpdate</div>
                }
            </FlowWizardPage>
            <FlowWizardPage Title="@lblEula" NextDisabled="@(EulaAccepted == false)" Description="@lblEulaDescription">
                <div class="eula-page">

                    <div class="eula">@msEula</div>

                    <div class="switch">
                        <FlowSwitch @bind-Value=@EulaAccepted/>
                        <span @onclick="ToggleEulaAccepted">@lblEulaAccept</span>
                    </div>
                </div>
            </FlowWizardPage>
            @if (AvailablePlugins?.Any() == true)
            {
                <FlowWizardPage Title="@lblPlugins" Disabled="@(EulaAccepted == false)"
                                Description="@lblPluginsDescription">
                    <FlowTable @ref="PluginTable" Data="AvailablePlugins" TItem="PluginPackageInfo"
                               HideHead="true" HideToolbar="true" Selection="SelectionMode.Multiple"
                               TableIdentifier="InitialConfigPlugins" DontClearOnClick="true" ForcedSelection="ForcedPlugins">
                        <Columns>
                            <FlowTableColumn TItem="PluginPackageInfo" NoHeight="true">
                                <Header>
                                    @Globals.lblName
                                </Header>
                                <Cell Context="item">
                                    @{
                                        string label = Translater.TranslateIfHasTranslation($"Plugins.{item.Package}.Label", item.Name);
                                        string description = Translater.TranslateIfHasTranslation($"Plugins.{item.Package}.Description", item.Description); 
                                    }
                                    <div class="table-item">
                                        <TableItemIcon Icon="@item.Icon" DefaultIcon="fas fa-puzzle-piece"/>
                                        <div class="center">
                                            <span class="name"><span>@label</span></span>
                                            <span class="description"><span>@description</span></span>
                                        </div>
                                        @if (item.Installed)
                                        {
                                            <div class="right">
                                                <span class="top-right">
                                                    @lblInstalled
                                                </span>
                                            </div>
                                        }
                                    </div>

                                </Cell>
                            </FlowTableColumn>
                        </Columns>
                    </FlowTable>
                </FlowWizardPage>
            }

            @if (Profile.ServerOS == OperatingSystemType.Docker && AvailableDockerMods?.Any() == true)
            {
                <FlowWizardPage Title="@lblDockerMods" Disabled="@(EulaAccepted == false)"
                                Description="@lblDockerModsDescription">
                    <FlowTable @ref="DockerModTable" Data="AvailableDockerMods" TItem="RepositoryObject"
                               HideHead="true" HideToolbar="true" Selection="SelectionMode.Multiple"
                               TableIdentifier="InitialConfigDockerMods" DontClearOnClick="true">
                        <Columns>
                            <FlowTableColumn TItem="RepositoryObject" NoHeight="true">
                                <Header>
                                    @Globals.lblName
                                </Header>
                                <Cell Context="item">
                                    @{
                                        string label = Translater.TranslateIfHasTranslation($"DockerMods.{item.Name.Dehumanize()}.Label", item.Name);
                                        string description = Translater.TranslateIfHasTranslation($"DockerMods.{item.Name.Dehumanize()}.Description", item.Description);
                                    }
                                    <div class="table-item">
                                        <TableItemIcon Icon="@item.Icon" DefaultIcon="fab fa-docker"/>
                                        <div class="center">
                                            <span class="name"><span>@label</span></span>
                                            <span class="description"><span>@description</span></span>
                                        </div>
                                    </div>

                                </Cell>
                            </FlowTableColumn>
                        </Columns>
                    </FlowTable>
                </FlowWizardPage>
            }

            <FlowWizardPage Title="@lblFinish" Disabled="@(EulaAccepted == false)" Visible="(onlyEula == false)" Description="@lblFinishDescription">

                @lblFinishTop

                <ol>
                    <li><span>@lblFinishCreateFirstFlow</span> @lblFinishCreateFirstFlowDescription</li>
                    <li><span>@lblFinishCreateALibrary</span> @lblFinishCreateALibraryDescription</li>
                </ol>
                
                @lblFinishBottom

            </FlowWizardPage>
        </FlowWizard>

    </div>
}