@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="FileFlows" Scroll="true">
    <Head>
        @if (CanUpdate)
        {
            <OptionButtons>
                <WidgetOption Label="@lblUpdate" Value="1" Icon="fas fa-cloud-download-alt" OnClick="Update" />
            </OptionButtons>
        }
    </Head>
    <Body>
    @foreach (var update in Data.ReleaseNotes)
    {
        <div class="release-note">
            <h1>@update.Version</h1>
            @if (update.New.Count > 0)
            {
                <h2>@lblNew</h2>
                <ul>
                    @foreach (var note in update.New)
                    {
                        <li>@note</li>
                    }
                </ul>
            }
            @if (update.Fixed.Count > 0)
            {
                <h2>@lblFixed</h2>
                <ul>
                    @foreach (var note in update.Fixed)
                    {
                        <li>@note</li>
                    }
                </ul>
            }
        </div>
    }
    </Body>
</ContainerWidget>