@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="@lblRunners" Value="0" Icon="fas fa-running" />
            <WidgetOption Label="@lblUpdates" Value="1" Icon="fas fa-chart-bar" />
            <WidgetOption Label="@lblNodes" Value="2" Icon="fas fa-desktop" />
        </OptionButtons>
    </Head>
    <Body>
    
    <div class="runners @(Mode == 0 ? "active" : "")">
        <RunnersComponent NoneOnLoad="SelectNodes" />
    </div>
    <div class="charts @(Mode == 1 ? "active" : "")">
        @if (UpdateInfoData != null)
        {
            <UpdatesComponent Data="UpdateInfoData" />
        }
    </div>
    <div class="nodes @(Mode == 2 ? "active" : "")">
        <NodeSummaryComponent />
    </div>

    </Body>
</ContainerWidget>