@using Globals = FileFlows.ServerShared.Globals
@namespace FileFlows.Client.Components.Widgets

@if (Data.FileFlowsVersion != null)
{
    <div class="table-item">
        <span class="icon">
            <img src="favicon.svg" />
        </span>
        <div class="center">
            <span class="name">FileFlows</span>
            <div class="info">
                <FlowIconValue Icon="fas fa-code-branch" Color="dark" Value="@Globals.Version" />
            </div>
        </div>
        <div class="right">
            <span class="top-right">@Data.FileFlowsVersion</span>
        </div>
    </div>
}
@foreach(var update in Data.PluginUpdates)
{
    <div class="table-item">
        <span class="icon">
            <TableItemIcon Icon="@update.Icon" DefaultIcon="fas fa-puzzle-piece" />
        </span>
        <div class="center">
            <span class="name">@update.Name</span>
            <div class="info">
                <FlowIconValue Icon="fas fa-puzzle-piece" Color="dark" Value="@lblPlugin" />
                <FlowIconValue Icon="fas fa-code-branch" Color="dark" Value="@update.CurrentVersion" />
            </div>
        </div>
        <div class="right">
            <span class="top-right">@update.LatestVersion</span>
        </div>
    </div>
}
@foreach(var update in Data.DockerModUpdates)
{
    <div class="table-item">
        <span class="icon">
            <TableItemIcon Icon="@update.Icon" DefaultIcon="fab fa-docker" />
        </span>
        <div class="center">
            <span class="name">@update.Name</span>
            <div class="info">
                <FlowIconValue Icon="fab fa-docker" Color="dark" Value="DockerMod" />
                <FlowIconValue Icon="fas fa-code-branch" Color="dark" Value="@update.CurrentVersion" />
            </div>
        </div>
        <div class="right">
            <span class="top-right">@update.LatestVersion</span>
        </div>
    </div>
}
@foreach(var update in Data.ScriptUpdates)
{
    <div class="table-item">
        <span class="icon">
            <TableItemIcon Icon="@update.Icon" DefaultIcon="fas fa-scroll" />
        </span>
        <div class="center">
            <span class="name">@update.Name</span>
            <div class="info">
                <FlowIconValue Icon="fas fa-scroll" Color="dark" Value="@lblScript" />
                <FlowIconValue Icon="fas fa-code-branch" Color="dark" Value="@update.CurrentVersion" />
            </div>
        </div>
        <div class="right">
            <span class="top-right">@update.LatestVersion</span>
        </div>
    </div>
}