@namespace FileFlows.Client.Components.Common
@implements IDisposable

<div id="@Uid" class="flow-drop-down">
    <span class="dd-btn" @onclick="() => Toggle()">
        <TableItemIcon Icon="@Selected?.Icon" DefaultIcon="@PlaceholderIcon" />
        <span class="label">
            @(Selected?.Label ?? Placeholder)
        </span>
        @if (Selected != null)
        {
            <span class="clear" @onclick="() => Clear()" @onclick:stopPropagation>
                <i class="fas fa-times"></i>
            </span>
        }
    </span>

    <div class="dropdown-content @(Opened ? "opened" : "")">
        @foreach (var opt in Options)
        {
            <span class="option" @onclick="() => Select(opt)">
                <TableItemIcon Icon="@opt.Icon" DefaultIcon="@PlaceholderIcon" />
                @opt.Label
            </span>
        }
    </div>
</div>