@page "/new-dashboard"
@using FileFlows.Client.Components.Widgets
@namespace FileFlows.Client.Pages

@if (loaded)
{
    <div class="dashboard-wrapper">

        <FlowTabs NewTabs="true">
            <FlowTab Title="@lblDashboard" Icon="fas fa-chart-pie" ClassName="dashboard">

                <div class="grid grid-3">
                    <FileOverviewWidget IsFilesProcessed="true" />
                    <FileOverviewWidget IsFilesProcessed="false" />
                    <CpuRamWidget/>
                    @* <TrendWidget Title="Trend" Color="purple" Icon="fas fa-hdd" Suffix="7.5 GB/day" Total="42.6 GB"> *@
                    @*     <WidgetOption Label="Day" Value="1"/> *@
                    @*     <WidgetOption Label="Week" Value="2"/> *@
                    @*     <WidgetOption Label="Month" Value="3"/> *@
                    @* </TrendWidget> *@
                </div>

                <div class="grid grid-60-40 flex-grow">
                    <SystemWidget />
                    <FilesWidget />
                </div>

            </FlowTab>
            <FlowTab Title="@lblSavings" Icon="fas fa-dollar-sign">
                <div class="grid grid-60-40 flex-grow savings">
                    <LargestSavingsWidget />
                    <LibrarySavingsSummaryWidget/>
                </div>
            </FlowTab>
            @if (UpdateInfoData.HasUpdates)
            {
                <FlowTab Title="@lblUpdates" Icon="fas fa-cloud-download-alt">
                @if (UpdateInfoData.FileFlowsVersion != null && UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid grid-60-40 flex-grow savings">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" OnUpdate="OnUpdate" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))" />
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile" OnUpdate="OnUpdate" />
                    </div>
                }
                else if (UpdateInfoData.FileFlowsVersion != null)
                {
                    <div class="grid">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" OnUpdate="OnUpdate" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))" />
                    </div>
                }
                else if (UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid">
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile" OnUpdate="OnUpdate" />
                    </div>
                }

                </FlowTab>
            }
        </FlowTabs>

    </div>
}